<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <link rel="icon" href="~/images/kelimegrafi.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/game.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KeywordGame.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rammetto+One&family=Dosis&family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md box-shadow navbar-dark navCustom" style="background:#181a1c">
            <div class="container px-3">
                <div class="mt-1 d-flex" style="user-select:none;">
                    <a asp-controller="Home" asp-action="Index" class="text-decoration-none d-flex">
                        <div class="logoInputX">K</div>
                        <div class="logoInputY">G</div>
                    </a>
                </div>
                <div class="mx-5"></div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-secondary" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Anasayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-secondary" asp-area="" asp-controller="Contribution" asp-action="Add">Kelime Öner</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-secondary" asp-area="" asp-controller="Report" asp-action="SendReport">&nbsp;Sorun Bildir</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link btn btn-outline-secondary" asp-area="" asp-controller="Admin" asp-action="Index">
                                <i class="fas fa-shield"></i> Panel</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-outline-secondary" asp-area="" asp-controller="Login" asp-action="Logout"><i class="fas fa-sign-out-alt"></i> Çıkış</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="bg-dark">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer" style="background:#181a1c">
        <div class="justify-content-center d-flex ">
            <div class="d-flex align-items-center" style="user-select:none;">
                <a asp-controller="Home" asp-action="Index" class="text-decoration-none d-flex">
                    <div id="inputK" class="mb-2">K</div>
                    <div id="inputG">G</div>
                </a>
                <span class="text-muted">&copy; 2024 - Kelimegrafi.com - Created by&nbsp;</span>
                <a href="https://github.com/akoc95" target="_blank" class="text-primary fs-6">akoc95</a>
                <i class="fa fa-heart text-danger"></i>&nbsp;&nbsp;
                <a class="text-muted" style="font-size:12px;">NY</a>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
