<head>
    <title>Kelimegrafi.com - Şehirler</title>
    <meta name="description" content="Antik Yapılar, Peribacaları, Göller, Kaleler, Kervansaraylar, Camiler, Kiliseler ve daha fazlasını içeren Türkiye'nin turistik ve tarihi yerlerini keşfedin.">
    <meta name="keywords" content="kelime tahmin oyunu, Türkiye, şehirler, İstanbul, Antik Yapılar, Cami, SultanAhmet, Ayasofya Antalya, Kapadokya, turistik yerler, eğlence, seyahat, bilgi, keşif">

</head>
<body>
    <div class="card bg-dark m-auto justify-content-center border-0">
        <div class="card-header text-center ">
            <h2 class="imageDesc"></h2>
        </div>
        <div class="card-body text-center">
            <h2 id="timer" class="forTimer mb-3" style="display:none;"><i class="fas fa-hourglass"></i></h2>
            <div class="imagePath"></div>
            <div id="msg-text"></div>
            <a class="btn btn-lg btn-primary mt-4" id="btnStart" onclick="startCityGame()">Oyunu Başlat</a>
            <div class="description text-white mt-5">
                <p>Türkiye'nin farklı şehirlerini keşfedin ve kelime tahmin oyunu oynarken eğlenin!</p>
                <p>Antik Yapılar, Peribacaları, Göller, Kaleler, Kervansaraylar, Camiler, Kiliseler ve daha fazlasını içeren Türkiye'nin turistik ve tarihi yerlerini keşfedin.</p>
            </div>
            <div class="space"></div>
            <div id="score"></div>
            <input type"button" id="restart" class="btn btn-primary d-none mt-2" onclick="startCityGame()" value=" Yeniden başla" />
        </div>
    </div>
    @section scripts {
        <script src="~/js/game.js"></script>
    }

</body>
