<head>
    <title>Kelimegrafi.com - 404 Hatası</title>
    <meta name="description" content="Üzgünüz, aradığınız sayfayı bulamadık! Ancak başka yerlere gitmek yerine, burada kalın ve diğer eğlenceli içeriklerimizi keşfedin. Kelime bulmaca oyunlarından ülke bayrağı tahminine kadar birçok seçenek sizi bekliyor.">
    <meta name="keywords" content="404 hata, sayfa bulunamadı, hata sayfası, site haritası, ana sayfa, içerik keşfi, kelime oyunları, ülke bayrağı tahmini">

</head>
<div class="page-wrap d-flex flex-row align-items-center" style="min-height: 70vh;font-family: 'Dosis', sans-serif;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block text-white">404</span>
                <div class="mb-4 lead text-white fs-3">Aradığınız sayfa bulunamadı.</div>
                <a href="https://www.kelimegrafi.com" class="btn btn-primary text-decoration-none fs-3">Anasayfa'ya dön</a>
            </div>
        </div>
    </div>
</div>